/* The code by Yair-T | https: //youtube.com/@Yair-T | https://github.com/Yair-T */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap);

:root {
    --BackgroundColor: #1b5ab7;
    --TextColor: #fff;
    --SpecialColor: #7fffd4;
    --gray: #8d8d8d;
    --secondGray: #9c9c9c;
    --thirdGray: #333;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box
}

body {
    background: var(--BackgroundColor)
}

.txt {
    padding: 150px 50px 25px 100px
}

h3 {
    color: var(--TextColor);
    font-size: 50px
}

h3 span {
    color: var(--SpecialColor);
    text-decoration: underline
}

.password-area {
    margin-left: 101px;
    width: 400px;
    height: 60px;
    margin-bottom: 30px;
    background: var(--TextColor);
    color: var(--thirdGray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px
}

.password-input {
    outline: 0;
    font-size: 24px;
    border: 0
}

.password-input:focus {
    outline: none;
    border-color: var(--gray)
}

 .material-symbols-outlined {
    width: 80px;
    font-size: 100px;
    height: 30px;
    color: var(--secondGray);
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.password-area .material-symbols-outlined:hover {
    color: var(--gray)
}

.submit-btn {
    padding: 10px 50px 25px 100px
}

.submit-btn .btn {
    border-radius: 5px;
    border: 3px solid var(--SpecialColor);
    padding: 15px 25px;
    background-color: var(--SpecialColor);
    font-size: 30px;
    font-weight: 800;
    color: var(--TextColor)
}

.submit-btn .btn:hover {
    background-color: var(--TextColor);
    color: var(--SpecialColor)
}

@media screen and (max-width: 580px) {
    .txt {
        padding: 150px 50px 25px 40px
    }

    .txt h3 {
        font-size: 30px;
    }

    .password-area {
        height: 60px;
        width: 350px;
        margin-left: 40px;
    }

    .submit-btn {
        padding: 10px 50px 25px 40px
    }
}

@media screen and (max-width: 404px) {
    .txt {
        padding: 150px 50px 25px 25px
    }

    .txt h3 {
        font-size: 20px;
    }

    .password-area {
        height: 50px;
        width: 325px;
        margin-left: 25px;
    }

    .submit-btn {
        padding: 5px 50px 25px 25px
    }
}

@media screen and (max-width: 357px) {
    .password-area .material-symbols-outlined {
        width: 40px;
        font-size: 20px;
        height: 30px;
    }

    .password-area {
        width: 300px;
    }
}